@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Barlow:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Обнуление стилей */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* Просто стили */

body {
  font-family: "CircularStd", sans-serif;
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Для тренировки, чтобы немножко разделить */

.homework {
  font-family: "Barlow", "CircularStd", serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 60px;
  color: rgb(218, 98, 98);
  background: url("../img/дракон_4.jpg") center / cover fixed;
}

.name-one {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: blue;
}

.name-two {
  font-weight: 700;
  font-size: 26px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  color: blue;
}

/* Верстка статьи */

.header {
  font-family: "Barlow", serif;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0 0 20px 0;
}

.menu {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.menu li {
  display: inline;
  margin-right: 20px;
  color: gray;
  box-shadow: 5px 5px 5px 5px rgb(115, 116, 104);
  border-radius: 5px;
  background-color: aqua;
}

p {
  margin-bottom: 20px;
}

.h3,
.h3-one,
.h3-two {
  font-style: oblique;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  display: inline-block;
  margin-bottom: 50px;
  border-bottom: 3px dashed black;
}

.number {
  text-align: justify;
  text-shadow: 10px 10px 10px black;
  padding: 20px 20px 20px 20px;
}

.number-two {
  border: 5px solid gold;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto 20px auto;
  background: url("../img/number-two.jpg") 0 0 no-repeat;
}
.number-three {
  max-height: 200px;
  max-width: 800px;
  color: rgb(231, 27, 27);
  overflow: auto;
  margin: 0 50px 20px 20px;
  background: url("../img/дракон_3.jpg") 0 0 / cover no-repeat local;
}

.number-four {
  max-width: 1000px;
  margin: 0 0 0 auto;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  outline: 5px double burlywood;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.number-five {
  border: 20px solid transparent;
  text-align: justify;
  padding: 10px;
  background: url("../img/дракон_5.jpg") 25px -15px no-repeat, url("../img/дракон_6.jpg") 50% no-repeat;
  background-color: purple;
  border-radius: 50px;
}

.number-six {
  padding: 20px;
  opacity: 0.3;
  box-shadow: 10px 10px 10px 10px red;
  color: fuchsia;
  border: 10px solid black;
}

.number-seven {
  max-width: 45%;
  display: inline-block;
  padding: 10px;
  margin-right: 40px;
  background: url("../img/дракон_7.jpg");
  border: 20px solid rgb(121, 69, 69);
}

.number-eight {
  max-width: 45%;
  display: inline-block;
  padding: 10px;
  background: url("../img/дракон_7.jpg");
  border: 20px solid rgb(121, 69, 69);
}

.span {
  font-size: 22px;
  font-weight: 900;
}

.image-one {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 50px 150px;
  overflow: hidden;
}

.image-two {
  display: block;
  max-width: 200px;
  margin: 0 auto 30px auto;
  outline: 20px dotted red;
  border-radius: 10px;
}

/* Верстка макета */

.homework1 {
  font-family: "Lato", sans-serif;
  max-width: 810px;
  margin: 0 auto;
}

.h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin-bottom: 26px;
}

.small {
  margin-bottom: 40px;
}

.date {
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
  color: #787a80;
  margin: 0 24px 0 0;
  padding: 0 0 0 24px;
  background: url("../img/Vector\ \(Stroke\).svg") 0 5px no-repeat;
}

.time {
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
  color: #787a80;
  padding: 0 0 0 24px;
  background: url("../img/Union.svg") 0 5px no-repeat;
}

.work {
  max-width: 100%;
  margin-bottom: 60px;
}

.big {
  margin-bottom: 48px;
}

.test {
  margin-bottom: 39px;
}

.text2 {
  margin-bottom: 24px;
}

.test,
.test2,
.text2,
.text3 {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}

.paragraph {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #1e212c;
}

.text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 48px;
  padding-left: 58px;
  background-image: url("../img/braces.svg");
  background-repeat: no-repeat;
}

.text3 {
  margin-bottom: 40px;
}

.list {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
  color: #424551;
}

.list li {
  margin-bottom: 4px;
  padding-left: 32px;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

.easy {
  margin-bottom: 40px;
}

.h3-three {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #1e212c;
  margin: 0 0 8px 0;
}

.h3-four {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  margin-bottom: 40px;
  color: #1e212c;
}

.six {
  font-size: 16px;
  line-height: 1.6;
  max-width: 390px;
  color: #424551;
  margin-bottom: 48px;
}
.six li {
  padding: 0 0 0 32px;
  margin-bottom: 12px;
  color: #424551;
  background: url("../img/Vector.svg") 0 5px no-repeat;
}

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 3.14;
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 0px 32px;
}
